#!/usr/bin/env zsh

# shorten cmds
alias py='python3'
alias pl='swipl'

# shorten cmd and turn on warning by default for c compilation
alias c99='cc -std=c99 -Wall'

# turn on warning by default for c++ compilation
alias g++='g++ -W'

# always double check what's to be removed
alias rm='rm -i'

# uplift yourself
alias saywhat='fortune | cowsay'

# bare git repository for dotfiles
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# use bat as cat
## see: https://github.com/sharkdp/bat
alias cat='bat'

# copy vscode settings to dotfiles
## The ignored part must be inside
## `<-- Private start ... Private end -->`
## which is case sensitive
alias bkp_vs_code_settings='sed "/<-- Private start/,/Private end -->/d" ~/Library/Application\ Support/Code/User/settings.json > $HOME/.vscode/settings.json'
